<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nopalyer.navigationdrawer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FullView" />
        <activity android:name=".vision" />
        <activity android:name=".srijan" />
        <activity android:name=".about_college" />
        <activity android:name=".about_city" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".nss" />
        <activity android:name=".ncc" />
        <activity android:name=".convo" />
        <activity android:name=".sm" />
        <activity android:name=".alu" />
        <activity android:name=".prayas" />
        <activity android:name=".fresh" />
        <activity android:name=".sp" />
        <activity android:name=".nim" />
        <activity android:name=".hf" />
        <activity android:name=".mag" />
        <activity android:name=".map" />
        <activity android:name=".pl" />
        <activity android:name=".dir" />
        <activity android:name=".home1" />
        <activity android:name=".events" />
        <activity android:name=".courses" />
        <activity android:name=".registration" />
        <activity android:name=".login" />
        <activity android:name=".functionaries" />
        <activity android:name=".hostelbooklet" />
        <activity android:name=".vind" />
        <activity android:name=".udaygiri" />
        <activity android:name=".shivalik" />
        <activity android:name=".satp" />
        <activity android:name=".pgh" />
        <activity android:name=".neel" />
        <activity android:name=".mani" />
        <activity android:name=".kbh" />
        <activity android:name=".info" />
        <activity android:name=".himgiri" />
        <activity android:name=".himadri" />
        <activity android:name=".daul" />
        <activity android:name=".aravali" />
        <activity android:name=".ambika" />
        <activity android:name=".hostels" />
        <activity android:name=".departments" />
        <activity android:name=".MainActivity">
        </activity>

    <activity android:name="com.nopalyer.navigationdrawer.mechanical.melabs"></activity>
    <activity android:name="com.nopalyer.navigationdrawer.mechanical.meprogrammes" />
    <activity android:name="com.nopalyer.navigationdrawer.mechanical.mevision" />
    <activity android:name="com.nopalyer.navigationdrawer.mechanical.meaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.mechanical.me" />
    <activity android:name="com.nopalyer.navigationdrawer.electrical.eelabs" />
    <activity android:name="com.nopalyer.navigationdrawer.electrical.eeprogrammes" />
    <activity android:name="com.nopalyer.navigationdrawer.electrical.eevision" />
    <activity android:name="com.nopalyer.navigationdrawer.electrical.eeaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.electrical.ee" />
    <activity android:name="com.nopalyer.navigationdrawer.cse.cselabs" />
    <activity android:name="com.nopalyer.navigationdrawer.cse.cseprogrammes" />
    <activity android:name="com.nopalyer.navigationdrawer.cse.csevision" />
    <activity android:name="com.nopalyer.navigationdrawer.civil.civillabs"></activity>
    <activity android:name="com.nopalyer.navigationdrawer.civil.civilprogrammes" />
    <activity android:name="com.nopalyer.navigationdrawer.civil.civilvision" />
    <activity android:name="com.nopalyer.navigationdrawer.civil.civilaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.civil.Civil" />
    <activity android:name="com.nopalyer.navigationdrawer.material.matlabs" />
    <activity android:name="com.nopalyer.navigationdrawer.ece.ecelabs" />
    <activity android:name="com.nopalyer.navigationdrawer.chemical.chemlabs" />
    <activity android:name="com.nopalyer.navigationdrawer.material.materialprogrammes" />
    <activity android:name="com.nopalyer.navigationdrawer.chemical.chemicalprogrammes" />
    <activity android:name="com.nopalyer.navigationdrawer.ece.eceprogrammes" />

    <activity android:name="com.nopalyer.navigationdrawer.cse.cseaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.cse.CSE" />
    <activity android:name="com.nopalyer.navigationdrawer.chemical.chemicalvision" />
    <activity android:name="com.nopalyer.navigationdrawer.ece.ecevision" />
    <activity android:name="com.nopalyer.navigationdrawer.material.materialvision" />
    <activity android:name="com.nopalyer.navigationdrawer.material.materialaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.chemical.chemicalaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.material.material" />
    <activity android:name="com.nopalyer.navigationdrawer.ece.eceaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.ece.ece" />
    <activity android:name="com.nopalyer.navigationdrawer.chemical.chemical1" />
    <activity android:name="com.nopalyer.navigationdrawer.math.mathission"
        android:label="VISION AND MISSION"></activity>
    <activity android:name="com.nopalyer.navigationdrawer.math.mathsprogrammes"
        android:label="PROGRAMMES OFFERED"/>
    <activity android:name="com.nopalyer.navigationdrawer.math.mathslabs"
        android:label="LABS"/>
    <activity android:name="com.nopalyer.navigationdrawer.math.mathsaboutus"
        android:label="ABOUT US"/>
    <activity android:name="com.nopalyer.navigationdrawer.physics.physicsprogrammes"
        android:label="PROGRAMMES OFFERED"/>
    <activity android:name="com.nopalyer.navigationdrawer.physics.physicslabs"
        android:label="LABS"/>
    <activity android:name="com.nopalyer.navigationdrawer.physics.physicsmission"
        android:label="VISION AND MISSION"/>
    <activity android:name="com.nopalyer.navigationdrawer.physics.physicsaboutus"
        android:label="ABOUT US"/>
    <activity android:name="com.nopalyer.navigationdrawer.math.maths"
        android:label="MATHS DEPARTMENT"/>
    <activity android:name="com.nopalyer.navigationdrawer.physics.Physics"
        android:label="PHYSICS DEPARTMENT"/>
    <activity android:name="com.nopalyer.navigationdrawer.chemistry.chemission"
        android:label="VISION AND MISSION"/>
    <activity android:name="com.nopalyer.navigationdrawer.chemistry.chemprogrammes"
        android:label="PROGRAMMES OFFERED"/>
    <activity android:name="com.nopalyer.navigationdrawer.chemistry.chemistrylabs"
        android:label="LABS"/>
    <activity android:name="com.nopalyer.navigationdrawer.chemistry.chemistryaboutus"
        android:label="ABOUT US"/>
    <activity android:name="com.nopalyer.navigationdrawer.chemistry.chemistry"
        android:label="CHEMISTRY DEPARTMENT"/>
    <activity android:name="com.nopalyer.navigationdrawer.architecture.archlabs"></activity>
    <activity android:name="com.nopalyer.navigationdrawer.architecture.archaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.architecture.archcourses" />
    <activity android:name="com.nopalyer.navigationdrawer.architecture.archvision" />
    <activity android:name="com.nopalyer.navigationdrawer.architecture.architecture" />

    <activity android:name="com.nopalyer.navigationdrawer.management.management"></activity>
    <activity android:name="com.nopalyer.navigationdrawer.management.managementabout" />
    <activity android:name="com.nopalyer.navigationdrawer.management.managementvision" />
    <activity android:name="com.nopalyer.navigationdrawer.management.managementcourses" />
    <activity android:name="com.nopalyer.navigationdrawer.management.managementlab" />

    <activity android:name="com.nopalyer.navigationdrawer.humanities.humanities"></activity>
    <activity android:name="com.nopalyer.navigationdrawer.humanities.humanitiesaboutus" />
    <activity android:name="com.nopalyer.navigationdrawer.humanities.humanitiesvision" />
    <activity android:name="com.nopalyer.navigationdrawer.humanities.humanitiescourses" />
    <activity android:name="com.nopalyer.navigationdrawer.humanities.humanitieslabs" />



</application>

</manifest>