<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nopalyer.navigationdrawer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mag"></activity>
        <activity android:name=".map" />
        <activity android:name=".pl" />
        <activity android:name=".dir" />
        <activity android:name=".home1" />
        <activity android:name=".events" />
        <activity android:name=".courses" />
        <activity android:name=".registration" />
        <activity android:name=".login" />
        <activity android:name=".functionaries" />
        <activity android:name=".hostelbooklet" />
        <activity android:name=".vind" />
        <activity android:name=".udaygiri" />
        <activity android:name=".shivalik" />
        <activity android:name=".satp" />
        <activity android:name=".pgh" />
        <activity android:name=".neel" />
        <activity android:name=".mani" />
        <activity android:name=".kbh" />
        <activity android:name=".info" />
        <activity android:name=".himgiri" />
        <activity android:name=".himadri" />
        <activity android:name=".daul" />
        <activity android:name=".aravali" />
        <activity android:name=".ambika" />
        <activity android:name=".hostels" />
        <activity android:name=".departments" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>