<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nopalyer.navigationdrawer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test2"></activity>
        <activity android:name=".humanities.humanities_phd" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FullView" />
        <activity android:name=".vision" />
        <activity android:name=".srijan" />
        <activity android:name=".about_college" />
        <activity android:name=".about_city" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".nss" />
        <activity android:name=".ncc" />
        <activity android:name=".convo" />
        <activity android:name=".sm" />
        <activity android:name=".alu" />
        <activity android:name=".prayas" />
        <activity android:name=".fresh" />
        <activity android:name=".sp" />
        <activity android:name=".nim" />
        <activity android:name=".hf" />
        <activity android:name=".mag" />
        <activity android:name=".map" />
        <activity android:name=".pl" />
        <activity android:name=".dir" />
        <activity android:name=".home1" />
        <activity android:name=".events" />
        <activity android:name=".registration" />
        <activity android:name=".login" />
        <activity android:name=".functionaries" />
        <activity android:name=".hostelbooklet" />
        <activity android:name=".vind" />
        <activity android:name=".udaygiri" />
        <activity android:name=".shivalik" />
        <activity android:name=".satp" />
        <activity android:name=".pgh" />
        <activity android:name=".neel" />
        <activity android:name=".mani" />
        <activity android:name=".kbh" />
        <activity android:name=".info" />
        <activity android:name=".himgiri" />
        <activity android:name=".himadri" />
        <activity android:name=".daul" />
        <activity android:name=".aravali" />
        <activity android:name=".ambika" />
        <activity android:name=".hostels" />
        <activity android:name=".departments" />
        <activity android:name=".MainActivity" />
        <activity android:name=".mechanical.melabs" />
        <activity android:name=".mechanical.meprogrammes" />
        <activity android:name=".mechanical.mevision" />
        <activity android:name=".mechanical.meaboutus" />
        <activity android:name=".mechanical.me" />
        <activity android:name=".electrical.eelabs" />
        <activity android:name=".electrical.eeprogrammes" />
        <activity android:name=".electrical.eevision" />
        <activity android:name=".electrical.eeaboutus" />
        <activity android:name=".electrical.ee" />
        <activity android:name=".cse.cselabs" />
        <activity android:name=".cse.cseprogrammes" />
        <activity android:name=".cse.csevision" />
        <activity android:name=".civil.civillabs" />
        <activity android:name=".civil.civilprogrammes" />
        <activity android:name=".civil.civilvision" />
        <activity android:name=".civil.civilaboutus" />
        <activity android:name=".civil.Civil" />
        <activity android:name=".material.matlabs" />
        <activity android:name=".ece.ecelabs" />
        <activity android:name=".chemical.chemlabs" />
        <activity android:name=".material.materialprogrammes" />
        <activity android:name=".chemical.chemicalprogrammes" />
        <activity android:name=".ece.eceprogrammes" />
        <activity android:name=".cse.cseaboutus" />
        <activity android:name=".cse.CSE" />
        <activity android:name=".chemical.chemicalvision" />
        <activity android:name=".ece.ecevision" />
        <activity android:name=".material.materialvision" />
        <activity android:name=".material.materialaboutus" />
        <activity android:name=".chemical.chemicalaboutus" />
        <activity android:name=".material.material" />
        <activity android:name=".ece.eceaboutus" />
        <activity android:name=".ece.ece" />
        <activity android:name=".chemical.chemical1" />
        <activity
            android:name=".math.mathission"
            android:label="VISION AND MISSION" />
        <activity
            android:name=".math.mathsprogrammes"
            android:label="PROGRAMMES OFFERED" />
        <activity
            android:name=".math.mathslabs"
            android:label="LABS" />
        <activity
            android:name=".math.mathsaboutus"
            android:label="ABOUT US" />
        <activity
            android:name=".physics.physicsprogrammes"
            android:label="PROGRAMMES OFFERED" />
        <activity
            android:name=".physics.physicslabs"
            android:label="LABS" />
        <activity
            android:name=".physics.physicsmission"
            android:label="VISION AND MISSION" />
        <activity
            android:name=".physics.physicsaboutus"
            android:label="ABOUT US" />
        <activity
            android:name=".math.maths"
            android:label="MATHS DEPARTMENT" />
        <activity
            android:name=".physics.Physics"
            android:label="PHYSICS DEPARTMENT" />
        <activity
            android:name=".chemistry.chemission"
            android:label="VISION AND MISSION" />
        <activity
            android:name=".chemistry.chemprogrammes"
            android:label="PROGRAMMES OFFERED" />
        <activity
            android:name=".chemistry.chemistrylabs"
            android:label="LABS" />
        <activity
            android:name=".chemistry.chemistryaboutus"
            android:label="ABOUT US" />
        <activity
            android:name=".chemistry.chemistry"
            android:label="CHEMISTRY DEPARTMENT" />
        <activity android:name=".architecture.archlabs" />
        <activity android:name=".architecture.archaboutus" />
        <activity android:name=".architecture.archcourses" />
        <activity android:name=".architecture.archvision" />
        <activity android:name=".architecture.architecture" />
        <activity android:name=".management.management" />
        <activity android:name=".management.managementabout" />
        <activity android:name=".management.managementvision" />
        <activity android:name=".management.managementcourses" />
        <activity android:name=".management.managementlab" />
        <activity android:name=".humanities.humanities" />
        <activity android:name=".humanities.humanitiesaboutus" />
        <activity android:name=".humanities.humanitiesvision" />
        <activity android:name=".humanities.humanitiescourses" />
        <activity android:name=".humanities.humanitieslabs" />
        <activity android:name=".Login.ChangePassword" />
        <activity android:name=".Login.ForgotPassword" />
    </application>

</manifest>